<footer class="page-footer teal lighten-1 z-depth-3">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
			</div>
			<div class="col l4 offset-l2 s12">
				<ul>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright teal lighten-1">
		<div class="container">
			© 2019 Copyright Text
			<a class="grey-text text-lighten-4 right" href="#!">Giovanni Robira</a>
		</div>
	</div>
</footer>
<script src="/js/materialize.min.js"></script>
<script src="/js/materialize.js"></script>