<footer class="page-footer teal lighten-1 z-depth-3">
	<div class="container">
		<div class="row">

		</div>
	</div>
	<div class="footer-copyright teal lighten-1">
		<div class="container">
			© 2019 Copyright Text
			<a class="grey-text text-lighten-4 right" href="#!">Giovanni Robira</a>
		</div>
	</div>
</footer>
<script src="/js/materialize.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		var elems = document.querySelectorAll('.sidenav');
		var instances = M.Sidenav.init(elems);
	});
</script>