<header>
  <div>
    <nav class="teal lighten-1 z-depth-3">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">PDDE Board<i class="material-icons left">spa</i></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <ul>
              <li class="bold"><a href='/'>Escolas</a>
              </li>
              <li class="bold"><a href='/pdde'>Dados PDDE</a>
              </li>
              <li class="bold"><a href='/about'>Sobre</a>
              </li>
              <li class="bold"><a href='/colabore'>Colabore</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li class="bold"><a href='/'>Escolas</a>
        </li>
        <li class="bold"><a href='/pdde'>Info PDDE</a>
        </li>
        <li class="bold"><a href='/about'>Sobre</a>
        </li>
        <li class="bold"><a href='/colabore'>Colabore</a>
        </li>
      </ul>
  </div>
</header>