<header>
  <div class="navbar-fixed">
    <nav class="teal lighten-1 z-depth-3">
      <a href="/" class="brand-logo">PDDE Board<i class="material-icons left">spa</i></a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <ul>
            <li class="bold"><a tabindex="0">Escolas</a>
            </li>
            <li class="bold"><a tabindex="1">Dados PDDE</a>
            </li>
            <li class="bold"><a tabindex="2">Sobre</a>
            </li>
            <li class="bold"><a tabindex="3">Colabore</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    </nav>
  </div>
</header>