<!DOCTYPE html>
<html lang='pt-BR'>
	<% include ./head %>
    <% include ./header %>
    <body>
        <div >
            <table class="responsive-table centered" >
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <% people.forEach(person => { %>
                        <tr>
                            <td><%= person %></td>
                        </tr>
                    <% })%>
                </tbody>
            </table>
        </div>
    </body>	
    <%include ./footer %>
</html>