<!DOCTYPE html>
<html lang='pt-BR'>
<% include ./templates/head %>
<body>
    <% include ./templates/header %>
    <div class="container">
        <div class="col s12">
            <h2>Sobre Nós</h2>
        </div>
        <div class="divider"></div>
        <div>
            <h4>
                Autores
            </h4>
            <p class='flow-text' style="font-size: 18px">
                Este trabalho foi desenvolvido para a disciplina Planejamento, Orçamento e Controle Social na Gestão Pública da FEA-USP.</br>
                O grupo envolvido no estudo, planejamento e desenvolvimento do trabalho contém os seguintes integrantes:</br>
            </p>
            <table>
                <tbody>
                    <tr>
                        <td>Giovanni Robira</td>
                        <td>ICMC USP</td>
                    </tr>
                    <tr>
                        <td>Fátima Lira</td>
                        <td>FEA USP</td>
                    </tr>
                    <tr>
                        <td>Léticia Cardoso</td>
                        <td>EACH USP</td>
                    </tr>
                    <tr>
                        <td>Marisa Alvarenga</td>
                        <td>IME USP</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="divider"></div>
        <div>
            <h4>
                Fontes
            </h4>
            <p class='flow-text' style="font-size: 18px">
                As informações exibidas neste site foram baseadas nas seguintes fontes:</br>
            </p>
            <ul>
                <li><a href="https://www.fnde.gov.br/index.php/programas/pdde/perguntas-frequentes/item/10728-pf-sobre-despesas-de-custeio-e-capital">https://www.fnde.gov.br/index.php/programas/pdde/perguntas-frequentes/item/10728-pf-sobre-despesas-de-custeio-e-capital</a></li>
                <li><a href="http://pddeinterativo.mec.gov.br/#">http://pddeinterativo.mec.gov.br/#</a></li>
            </ul>
        </div>
    </div>
    <% include ./templates/footer %>
</body>
</html>