<!DOCTYPE html>
<html lang='pt-BR'>
<% include ./templates/head %>
<body>
    <% include ./templates/header %>
    <div class="container">
        <div class="col s12">
            <h2>Colabore</h2>
            <div class="divider"></div>
            <div class="col s12 offset-s1">
                <h4>Colabore com dados</h4>
                <p class="flow-text" style="font-size: 16px">
                    Para enriquecer a plataforma, é possível adicionar novos dados.</br>
                    Primeiramente, tenha certeza que os dados são válidos e então é só seguir para este <a href='/escolas'>link</a> e preencher os campos. 
                </p>
            </div>
            <div class="divider"></div>
            <div class="col s12 offset-s1">
                <h4>Colabore com idéias</h4>
                <p class="flow-text" style="font-size: 16px">
                    Este site ainda não esta completo. Podemos adicionar diversas funcionalidades ainda.</br>
                    Algumas delas poderiam ser: </br>
                        - Adicionar login e controlar quem insere dados;</br>
                        - Cadastros de usuários para que recebam emails com os novos reportes;</br>
                        - Incremento da base de dados com novos campos;</br>
                        - Cruzamento de dados com escolas do mesmo porte e região;</br>
                        - Novos detalhes orçamentários.
                </p>
            </div>
            <div class="divider"></div>
            <div class="col s12 offset-s1">
                <h4>Colabore na aplicação</h4>
                <p class="flow-text" style="font-size: 16px">
                    Para o desenvolvimento deste site, foram usadas diversas tecnologias <i>open-source</i> e é possível colaborar com a aplicação solicitando <i>pull request</i>
                    ao seguinte repositório git: <a href="https://github.com/grobira/pdde-board">pdde-board</a>. Ainda existe muito para evoluir aqui. </br>
                    Neste site utilizamos Node.js e HTML com EJS, CSS com Materialize, a base de dados é o MongoDB e para hospedagem da aplicação o Heroku. </br>
                    É uma ótima oportunidade de evoluir o site, colaborar e aprender mais sobre a gestão pública.
                </p>
            </div>
        </div>
        <div class="divider"></div>
        </div>
    </div>
    <% include ./templates/footer %>
</body>

</html>