<!DOCTYPE html>
<html lang='pt-BR'>
<% include ./templates/head %>
<body>
    <% include ./templates/header %>
    <div class="container">
        <div class="masonry row">
            <div class="col s12">
                <h2>Colabore</h2>
            </div>
        </div>
    </div>
    <% include ./templates/footer %>
</body>

</html>