<!DOCTYPE html>
<html lang='pt-BR'>
<% include ./templates/head %>
<body>
    <% include ./templates/header %>
    <div class="container">
        <div class="masonry row">
            <div class="col s12">
                <h2>Dashboard</h2>
            </div>
            <div id="default-table-example_wrapper" class="dataTables_wrapper">
                <div class="col s12">
                    <div class="dataTables_scroll">
                        <div class="dataTables_scrollBody">
                            <div class="dataTables_scrollHeadInner">
                                <table id="default-table-example" class="row-border dataTable no-footer"
                                    aria-describedby="default-table-example_info">
                                    <thead>
                                        <tr role="row">
                                            <th aria-label="id">Id</th>
                                            <th aria-label="Name: activate to sort column ascending"
                                                aria-sort="descending">Name</th>
                                            <th aria-label="Position: activate to sort column ascending">Position</th>
                                            <th aria-label="Office: activate to sort column ascending">Office</th>
                                            <th aria-label="Age: activate to sort column ascending">Age</th>
                                            <th aria-label="Start date: activate to sort column ascending">Start date
                                            </th>
                                            <th aria-label="Salary: activate to sort column ascending">Salary</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr role="row" class="odd">
                                            <td class="">49</td>
                                            <td class="sorting_1">Zorita Serrano</td>
                                            <td>Software Engineer</td>
                                            <td>San Francisco</td>
                                            <td>4389</td>
                                            <td>2012/06/01</td>
                                            <td>$115,000</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="">48</td>
                                            <td class="sorting_1">Zenaida Frank</td>
                                            <td>Software Engineer</td>
                                            <td>New York</td>
                                            <td>7439</td>
                                            <td>2010/01/04</td>
                                            <td>$125,250</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class="">22</td>
                                            <td class="sorting_1">Yuri Berry</td>
                                            <td>Chief Marketing Officer (CMO)</td>
                                            <td>New York</td>
                                            <td>6154</td>
                                            <td>2009/06/25</td>
                                            <td>$675,000</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="">39</td>
                                            <td class="sorting_1">Vivian Harrell</td>
                                            <td>Financial Controller</td>
                                            <td>San Francisco</td>
                                            <td>9422</td>
                                            <td>2009/02/14</td>
                                            <td>$452,500</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class="">36</td>
                                            <td class="sorting_1">Unity Butler</td>
                                            <td>Marketing Designer</td>
                                            <td>San Francisco</td>
                                            <td>5384</td>
                                            <td>2009/12/09</td>
                                            <td>$85,675</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="">40</td>
                                            <td class="sorting_1">Timothy Mooney</td>
                                            <td>Office Manager</td>
                                            <td>London</td>
                                            <td>7580</td>
                                            <td>2008/12/11</td>
                                            <td>$136,200</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class="">1</td>
                                            <td class="sorting_1">Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>5421</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="">45</td>
                                            <td class="sorting_1">Thor Walton</td>
                                            <td>Developer</td>
                                            <td>New York</td>
                                            <td>8327</td>
                                            <td>2013/08/11</td>
                                            <td>$98,540</td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class="">15</td>
                                            <td class="sorting_1">Tatyana Fitzpatrick</td>
                                            <td>Regional Director</td>
                                            <td>London</td>
                                            <td>1965</td>
                                            <td>2010/03/17</td>
                                            <td>$385,750</td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="">32</td>
                                            <td class="sorting_1">Suki Burks</td>
                                            <td>Developer</td>
                                            <td>London</td>
                                            <td>6832</td>
                                            <td>2009/10/22</td>
                                            <td>$114,500</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ./templates/footer %>
</body>

</html>