<!DOCTYPE html>
<html lang='pt-BR'>
<% include ./templates/head %>

<body>
    <% include ./templates/header %>
    <div class="container">
        <div class="masonry row">
            <div class="col s12">
                <h2>Escolas</h2>
            </div>
                <div class="col s12">
                    <table id="default-table-example" class="row-border dataTable no-footer"
                        aria-describedby="default-table-example_info">
                        <thead>
                            <tr role="row">
                                <th aria-label="id">Id</th>
                                <th aria-label="Name: activate to sort column ascending" aria-sort="descending">Name
                                </th>
                                <th aria-label="Position: activate to sort column ascending">Position</th>
                                <th aria-label="Office: activate to sort column ascending">Office</th>
                                <th aria-label="Age: activate to sort column ascending">Age</th>
                                <th aria-label="Start date: activate to sort column ascending">Start date
                                </th>
                                <th aria-label="Salary: activate to sort column ascending">Salary</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" class="odd">
                                <td class="">49</td>
                                <td class="sorting_1">Zorita Serrano</td>
                                <td>Software Engineer</td>
                                <td>San Francisco</td>
                                <td>4389</td>
                                <td>2012/06/01</td>
                                <td>$115,000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
    <% include ./templates/footer %>
</body>

</html>