<!DOCTYPE html>
<html lang='pt-BR'>
<% include ./templates/head %>

<body>
    <% include ./templates/header %>
    <div class="container" style="min-height: 100%; margin-bottom: 90px;">
        <div class="row">
            <h2>Explicando o PDDE</h2>
            <div class="divider"></div>
            <div class="col s12 offset-s1">
                <h4>O que é o PDDE?</h4>
                <p class="flow-text" style="font-size: 16px">
                    O PDDE (Programa Dinheiro Direto na Escola) ....</br>
                </p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s12 offset-s1">
                <h4>Quais escolas recebem este repasse ? E como é defenido o valor do repasse ?</h4>
                <p class="flow-text" style="font-size: 16px">
                    O PDDE (Programa Dinheiro Direto na Escola) </br>
                </p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s12 offset-s1">
                <h4>Mas com o que pode ser gasto esse dinheiro ??</h4>
                <p class="flow-text" style="font-size: 16px">
                    O PDDE (Programa Dinheiro Direto na Escola) </br>
                </p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s12 offset-s1">
                <h4>O que é custeio e capital ? </h4>
                <p class="flow-text" style="font-size: 16px">
                    O PDDE (Programa Dinheiro Direto na Escola) </br>
                </p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s12 offset-s1">
                <h4>O que é o FNDE ?</h4>
                <p class="flow-text" style="font-size: 16px">
                    O PDDE (Programa Dinheiro Direto na Escola) </br>
                </p>
            </div>
        </div>
    </div>
    <% include ./templates/footer %>
</body>

</html>