<!DOCTYPE html>
<html lang='pt-BR'>
<% include ./templates/head %>

<body>
    <% include ./templates/header %>
    <div class="container" style="min-height: 100%; margin-bottom: 90px;">
        <div class="row">
            <h2>Explicando o PDDE</h2>
            <div class="divider"></div>
            <div class="col s12 offset-s1">
                <h4>O que é o PDDE?</h4>
                <p class="flow-text" style="font-size: 16px">
                    Programa Dinheiro Direto na Escola ou PDDE – é um programa que busca prestar assistência financeira para as escolas,
                     em caráter suplementar. O dinheiro repassado tem o objetivo de contribuir com a cobertura das despesas de custeio 
                     destinados à manutenção e melhoria tanto da infraestrutura física tanto da pedagógica - ambas responsáveis pelo 
                     desempenho adequado do ensino escolar.</br>
                </p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s12 offset-s1">
                <h4>Quais escolas recebem este repasse ? E como é defenido o valor do repasse ?</h4>
                <p class="flow-text" style="font-size: 16px">
                    São escolas aptas a receber o recursos às: </br>
                        públicas de educação básica das redes estaduais, municipais e do Distrito Federal;</br>
                        escolas privadas de educação especial mantidas por entidades sem fins lucrativos, 
                        registradas no Conselho Nacional de Assistência Social (CNAS) como beneficentes de assistência social, 
                        ou outras similares de atendimento direto e gratuito ao público;</br>
                        polos presenciais do sistema Universidade Aberta do Brasil (UAB) 
                        que ofertem programas de formação inicial ou continuada a profissionais da educação básica.</br>
                        Os valores são definidos com base no número de alunos matriculados na escola, de acordo com os dados do Censo Escolar no ano anterior.
                </p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s12 offset-s1">
                <h4>Mas com o que pode ser gasto esse dinheiro ??</h4>
                <p class="flow-text" style="font-size: 16px">
                    A depender do tipo de repasse, custeio ou capital, a escola pode atribuir a diferentes ações.</br>
                Quando o recurso é de custeio pode ser destinado para materiais de consumo;
                materiais para manutenção de bens imóveis;
                materiais de manutenção de bens móveis; 
                sementes,plantas e insumos; material de proteção e segurança; 
                material hospitalar; ferramentas; serviços (voltados para manutenção de infraestrutura),
                 são alguns principais exemplos.</br>
                </p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s12 offset-s1">
                <h4>O que é custeio e capital ? </h4>
                <p class="flow-text" style="font-size: 16px">
                    Quando o recurso é de custeio pode ser destinado para materiais de consumo;
                materiais para manutenção de bens imóveis;
                materiais de manutenção de bens móveis; 
                sementes,plantas e insumos; material de proteção e segurança; 
                material hospitalar; ferramentas; serviços (voltados para manutenção de infraestrutura),
                 são alguns principais exemplos.</br>
                 Quando recurso de Capital, a escola pode atribuir o repasse a atividades de investimento, 
                 como: aquisição de materiais permanentes (eletrodomésticos, computadores, mobiliário, etc.). </br>
                </p>
            </div>
        </div>
    </div>
    <% include ./templates/footer %>
</body>

</html>